<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apartmentmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApartmentManager">

        <!-- Khai báo LoginActivity (Activity khởi động ban đầu) -->
        <activity
            android:name="com.example.apartmentmanager.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Khai báo MainActivity -->
        <activity
            android:name="com.example.apartmentmanager.activities.MainActivity"
            android:exported="false" />

        <!-- Khai báo RegisterActivity -->
        <activity
            android:name="com.example.apartmentmanager.activities.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>